.skills_session{
   box-shadow: 0 -8px 12px -10px rgba(255, 0, 0, 0.4);/*sombra no topo da sessão*/
   padding-top: 150px;   
}

h3{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.4rem;
}

.skills_container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 50px;
  opacity: 1; 
}

.front,
.back,
.ferramentas{
    box-shadow: 0 0 15px var(--project_box_shadow);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding-block: 30px;
    width: 95%;
    margin: 0 auto;  
    transition: all 0.4s ease;
}

.front:hover,
.back:hover,
.ferramentas:hover{
   box-shadow: 0 0 25px var(--project_box_shadow_hover)
}

.front span,
.back span,
.ferramentas span {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
    background-color: transparent;
    transition: all 0.4s ease;
    border-radius: 50%;  
}

.react{
    font-size: 40px;
    color: #00B5E2;
    border-radius: 50%;
    transition: all 0.4s ease;  
}

.react:hover{
   transform: translateY(-10px);
   box-shadow: 4px 4px 14px 0px var(--project_box_shadow_hover);
   
}

.js{
   font-size: 40px;
   color: #D4B000;
   border-radius: 50%; 
   transition: all 0.4s ease;    
}

.js:hover{
   transform: translateY(-10px);
   box-shadow: 4px 4px 14px 0px var(--project_box_shadow_hover);
}

.css{
   font-size: 40px;
   color: #2965F1;
   border-radius: 50%; 
   transition: all 0.4s ease;  
}

.css:hover{
   transform: translateY(-10px);
   box-shadow: 4px 4px 14px 0px var(--project_box_shadow_hover);
}

.html{
   font-size: 40px;
   color: #E34F26;
   border-radius: 50%; 
   transition: all 0.4s ease;  
}

.html:hover{
   transform: translateY(-10px);
   box-shadow: 4px 4px 14px 0px var(--project_box_shadow_hover);
}

.php{
   font-size: 50px;
   color: #4F5B93;
   border-radius: 50%; 
   transition: all 0.4s ease;  
}

.php:hover{
   transform: translateY(-10px);
   box-shadow: 4px 4px 14px 0px var(--project_box_shadow_hover);
}

.mysql{
   font-size: 50px;
   color: #00618A;
   border-radius: 50%; 
   transition: all 0.4s ease;  
}

.mysql:hover{
   transform: translateY(-10px);
   box-shadow: 4px 4px 14px 0px var(--project_box_shadow_hover);
}

.github{
   font-size: 50px;
   color: var(--github_color);
   opacity: 0.9;
   border-radius: 50%; 
   transition: all 0.4s ease; 
}

.github:hover{
   transform: translateY(-10px);
   box-shadow: 4px 4px 14px 0px var(--project_box_shadow_hover);
}

.vercel{
   font-size: 50px;
   color: var(--github_color);
   opacity: 0.9;
   border-radius: 50%; 
   transition: all 0.4s ease; 
}

.vercel:hover{
   transform: translateY(-10px);
   box-shadow: 4px 4px 14px 0px var(--project_box_shadow_hover);
}


